<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
	<link href="~/Images/loader.png" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" href="/themes/fonts/fontawesome-free-5.15.4/css/all.min.css">
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta name="keywords" content="Big store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <!-- js -->
       @*<script src="~/js/jquery-1.11.1.min.js"></script>*@
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
	    jQuery(document).ready(function($) {
		    $(".scroll").click(function(event){		
			    event.preventDefault();
			    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		    });
	    });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="~/css/font-awesome.css" rel="stylesheet"> 
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--- start-rate---->
    <script src="~/js/jstarbox.js"></script>
	    <link rel="stylesheet" href="~/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
		    <script type="text/javascript">
			    jQuery(function() {
			    jQuery('.starbox').each(function() {
				    var starbox = jQuery(this);
					    starbox.starbox({
					    average: starbox.attr('data-start-value'),
					    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					    ghosting: starbox.hasClass('ghosting'),
					    autoUpdateAverage: starbox.hasClass('autoupdate'),
					    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					    stars: starbox.attr('data-star-count') || 5
					    }).bind('starbox-value-changed', function(event, value) {
					    if(starbox.hasClass('random')) {
					    var val = Math.random();
					    starbox.next().text(' '+val);
					    return val;
					    } 
				    })
			    });
		    });
		    </script>
			<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js?ver=3.2.1'></script>
			<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js?ver=3.2.1'></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!---//End-rate---->
</head>
<body>

    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
<!--footer-->
<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-grid">
			<h3>About Us</h3>
			<p>Gạo Việt Nam chuyên cung cấp Gạo ST25 chính hãng, không pha trộn, gạo còn nguyên cám nên hàm lượng vitamin cao. Đảm bảo gạo sạch 100%.</p>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Menu</h3>
			<ul>
				<li><a asp-page="/Index">Home</a></li>
				<li><a href="#">Category Menu</a></li>
				<li><a asp-page="/Components/About/About">About</a></li>
				<li><a asp-page="/Components/Contact/Contact">Contact</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Customer Services</h3>
			<ul>
				<li><a href="#">Shipping</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				
				<li><a asp-page="/Components/Contact/Contact">Contact</a></li>
				<li><a href="#">Online Shopping</a></li>						 
				 
			</ul>
		</div>
		<div class="col-md-3 footer-grid">
			<h3>My Account</h3>
			<ul>
				<li><a asp-page="/Components/Auth/Login">Login</a></li>
				<li><a asp-page="/Components/Auth/Register">Register</a></li>
				
			</ul>
		</div>
		<div class="clearfix"></div>
			<div class="footer-bottom">
				<img src="~/images/loader.png" alt=""> 
				<h2 >
					<a asp-page="/Index"> <b>T<br>H<br>E</b> Rice Store<span>Hạt Ngọc Trời</span></a>
				</h2>
				<p class="fo-para">Gạo là lương thực quan trọng nhất ở Việt Nam. Nó cũng là nguồn lương thực quan trọng nhất cho hơn nửa loài người, nhất là ở các nước Đông Á, Đông Nam Á và Nam Á.</p>
				<ul class="social-fo">
					<li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
				<div class=" address">
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-home" aria-hidden="true"></i>Cộng Hòa Street, 365 Building Etown, Ward 13, Tan Binh District, Ho Chi Minh City.</p>
					</div>
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-phone" aria-hidden="true"></i>+84 367 602 261</p>	
					</div>
					<div class="col-md-4 fo-grid1">
						<p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>ricestore@gmail.com</a></p>
					</div>
					<div class="clearfix"></div>
					
					</div>
			</div>
		<div class="copy-right">
			<p> &copy; 2022 Rice Store. All Rights Reserved 
		</div>
	</div>
</div>
<!-- //footer-->
</html>