@page "/Register"
@model Assignment.CustomerSite.Pages.Components.Auth.RegisterModel
@{
}
<!DOCTYPE html>
<html>
<body>
 		<a href="#offer"><img src="~/images/download.png" class="img-head" alt=""></a>
    <div class="header">

        <div class="container">

            <div class="logo">
                <img src="~/images/loader.png" alt=""> <h1><a asp-page="/Index"><b>T<br>H<br>E</b>  Rice Store<span>hạt ngọc trời</span></a></h1>

            </div>
            <div class="head-t">
                <ul class="card">
                    <li><a asp-page="/Components/Auth/Login"><i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
                    <li><a asp-page="/Components/Auth/Register"><i class="fa fa-arrow-right" aria-hidden="true"></i>Register</a></li>
                    <li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Order History</a></li>
                    <li><a href="#"><i class="fa fa-ship" aria-hidden="true"></i>Shipping</a></li>
                </ul>
            </div>

            <div class="header-ri">
                <ul class="social-top">
                    <li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
                    <li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
                    <li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
                    <li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
                </ul>
            </div>


            <div class="nav-top">
                <nav class="navbar navbar-default">

                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav ">
                            <li class=" active"><a asp-page="/Index" class="hyper "><span>Home</span></a></li>

                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>Category Menu<b class="caret"></b></span></a>
                                <ul class="dropdown-menu multi">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                @foreach (var item in Model._home.Categories)
                                                {
                                                    <li><a asp-page="/Components/Category/Detail" asp-route-categoryId="@item.Id"><i class="fa fa-angle-right" aria-hidden="true"></i>@item.CategoryName</a></li>
                                                   
                                                }
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>

                            <li><a asp-page="/Components/About/About" class="hyper"> <span>About</span></a></li>
                            <li><a asp-page="/Components/Contact/Contact" class="hyper"><span>Contact</span></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="cart">

                    <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div> 
  <!---->

     <!--banner-->
<div class="banner-top">
	<div class="container">
		<h3 >Register</h3>
		<h4><a asp-page="/Index">Home</a><label>/</label>Register</h4>
		<div class="clearfix"> </div>
	</div>
</div>

<!--login-->

	<div class="login">
		<div class="main-agileits">
				<div class="form-w3agile form1">
					<h3>Register</h3>
					<form action="#" method="post">
						<div class="key">
							<i class="fa fa-user" aria-hidden="true"></i>
							<input  type="text" value="Username" name="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" required="">
							<div class="clearfix"></div>
						</div>
						<div class="key">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<input  type="text" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
							<div class="clearfix"></div>
						</div>
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<input  type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
							<div class="clearfix"></div>
						</div>
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<input  type="password" value="Confirm Password" name="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}" required="">
							<div class="clearfix"></div>
						</div>
						<input type="submit" value="Submit">
					</form>
				</div>
				
			</div>
		</div>
       @* <div class="register-container vh-100 d-flex justify-content-center align-items-center">
        <div class="register-container-box border d-flex justify-content-center align-items-center bg-dark">
            <form asp-action="Register">
                <div class="text-center mb-3">
                    <i class="fa-solid fa-book-journal-whills fa-2xl text-danger mb-4"></i>
                    <h3 class="fw-bold text-light">REGISTER</h3>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input asp-for="Email" type="text" class="text-light form-control" />
                    <label asp-for="Email" class="text-light form-label">Email</label>
                </div>
                <!-- Email input -->
                

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input asp-for="Password" type="password" class="text-light form-control" />
                    <label asp-for="Password" class="text-light form-label">Password</label>
                </div>
                <!-- Password input -->
                
                <hr class="border border-light text-light"/>

                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input asp-for="FirstName" type="text" class="text-light form-control" />
                    <label asp-for="FirstName" class="text-light form-label">FirstName</label>
                </div>
                <!-- Name input -->

                <!-- Username input -->
                <div class="form-outline mb-4">
                    <input asp-for="LastName" type="text" class="text-light form-control" />
                    <label asp-for="LastName" class="text-light form-label">LastName</label>
                </div>
                <!-- Username input -->
                
                <!-- Phone input -->
                <div class="form-outline mb-4">
                    <input asp-for="Phone" type="number" class="text-light form-control" />
                    <label asp-for="Phone" class="text-light form-label">Phone</label>
                </div>
                <!-- Phone input -->

                <!-- Address input -->
                <div class="form-outline mb-4">
                    <input asp-for="Address" type="text" class="text-light form-control" />
                    <label asp-for="Address" class="text-light form-label">Address</label>
                </div>
                <!-- Address input -->

                <!-- Submit button -->
                <button type="submit" class="btn btn-danger btn-block mb-4">Register</button>
                <!-- Submit button -->

                <!-- Login redirect -->
                <div class="text-center">
                    <p class="m-0 text-light">Already a member? <a asp-action="Login" class="text-danger">Login</a></p>
                </div>
                <!-- Login redirect -->

            </form>
        </div>
    </div>*@
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- for bootstrap working -->
		<script src="~/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<script type='text/javascript' src="~/js/jquery.mycart.js"></script>
  <script type="text/javascript">
  $(function () {

    var goToCartIcon = function($addTocartBtn){
      var $cartIcon = $(".my-cart-icon");
      var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
      $addTocartBtn.prepend($image);
      var position = $cartIcon.position();
      $image.animate({
        top: position.top,
        left: position.left
      }, 500 , "linear", function() {
        $image.remove();
      });
    }

    $('.my-cart-btn').myCart({
      classCartIcon: 'my-cart-icon',
      classCartBadge: 'my-cart-badge',
      affixCartIcon: true,
      checkoutCart: function(products) {
        $.each(products, function(){
          console.log(this);
        });
      },
      clickOnAddToCart: function($addTocart){
        goToCartIcon($addTocart);
      },
      getDiscountPrice: function(products) {
        var total = 0;
        $.each(products, function(){
          total += this.quantity * this.price;
        });
        return total * 1;
      }
    });

  });
  </script>

</body>
</html>